In [5]:
#1 Find the val%e of T(2) for the rec%rrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

In [6]:
"""T(n) = 3T(n-1) + 12n
T(n-1) = 3T(n-2) + 12(n-1)
T(n) = 9T(n-2) + 36(n-1)+12n
T(2) = 9T(0) + 36*1+12*2  

 =   105"""

'T(n) = 3T(n-1) + 12n\nT(n-1) = 3T(n-2) + 12(n-1)\nT(n) = 9T(n-2) + 36(n-1)+12n\nT(2) = 9T(0) + 36*1+12*2  \n\n =   105'

In [7]:
#2. Given a rec%rrence relation, solve it %sing the s%bstit%tion method:
#a. T(n) = T(n-1) + c

In [8]:
"""T(n) = T(n-1) + c
T(n-1) = T(n-2) + c
T(n) = T(n-2) + 2c
T(n-2) = T(n-4) + 4c
T(n-k) = T(n-k) + kc
T(n) = T(1) + (n-1)c
T(n) = O(n)"""

'T(n) = T(n-1) + c\nT(n-1) = T(n-2) + c\nT(n) = T(n-2) + 2c\nT(n-2) = T(n-4) + 4c\nT(n-k) = T(n-k) + kc\nT(n) = T(1) + (n-1)c\nT(n) = O(n)'

In [9]:
#b. T(n) = 2T(n/2) + n

In [10]:
"""T(n) = 2T(n/2) + n  --------1
T(n/2) = 2T(n/4) + n/2 -------2
T(n/4) = 2T(n/8) + n/4--------3
#put equation 2 in 1
T(n) = 2**2T(n/2**2) + n+n -----4
#put eq. 4 in 3
T(n) = 2**2 T(n/2**2) + 2n
T(n) = 2**k T(n/2**k) + kn

n = 2**k
k = log(n)
T(n) = n+nlog(n)
T(n) = O(nlogn)"""

'T(n) = 2T(n/2) + n  --------1\nT(n/2) = 2T(n/4) + n/2 -------2\nT(n/4) = 2T(n/8) + n/4--------3\n#put equation 2 in 1\nT(n) = 2**2T(n/2**2) + n+n -----4\n#put eq. 4 in 3\nT(n) = 2**2 T(n/2**2) + 2n\nT(n) = 2**k T(n/2**k) + kn\n\nn = 2**k\nk = log(n)\nT(n) = n+nlog(n)\nT(n) = O(nlogn)'

In [11]:
#c. T(n) = 2T(n/2) + c

In [12]:
"""T(n) = 2T(n/2) + c  --------1
T(n/2) = 2T(n/4) + c -------2
T(n/4) = 2T(n/8) + c--------3
#put equation 2 in 1
T(n) = 2**2T(n/2**2) + 3c -----4
#put eq. 4 in 3
T(n) = 2**4 T(n/2**4) + 7n
T(n) = 2**k T(n/2**k) + kn

n = 2**k
k = log(n)
T(n)= n+log(n)"""

'T(n) = 2T(n/2) + c  --------1\nT(n/2) = 2T(n/4) + c -------2\nT(n/4) = 2T(n/8) + c--------3\n#put equation 2 in 1\nT(n) = 2**2T(n/2**2) + 3c -----4\n#put eq. 4 in 3\nT(n) = 2**4 T(n/2**4) + 7n\nT(n) = 2**k T(n/2**k) + kn\n\nn = 2**k\nk = log(n)\nT(n)= n+log(n)'

In [13]:
#d. T(n) = T(n/2) + c

In [14]:
"""T(n) = T(n/2) + c  --------1
T(n/2) = T(n/4) + c -------2
T(n/4) = T(n/8) + c--------3

#put eq. 4 in 3

T(n) =  T(n/2**k) + kn

n = 2**k
k = log(n)
T(n)= O(log(n))"""

'T(n) = T(n/2) + c  --------1\nT(n/2) = T(n/4) + c -------2\nT(n/4) = T(n/8) + c--------3\n\n#put eq. 4 in 3\n\nT(n) =  T(n/2**k) + kn\n\nn = 2**k\nk = log(n)\nT(n)= O(log(n))'

In [15]:
#3. Given a rec%rrence relation, solve it %sing the rec%rsive tree approach:
#a. T(n) = 2T(n-1) +1

In [1]:
"""T(n-1) = 2T((n-1)-1)-1
T(n-1) = 2T(n-2)-1 ….. (2)
Similarly..
T(n-2) = 2T(n-3)-1 ….. (3)
T(n-3 = 2T(n-4)-1 ….. (4) , and so on

Now Substitute:- equation (2), (3), (4) in equation (1)
T(n) = 2T(n-1)-1
T(n) = 2[2T(n-2)-1]-1 = 4T(n-2)-2–1 = 4T(n-2)-3
T(n) = 4[2T(n-3)-1]-3 = 8T(n-3)-4–3 = 8T(n-3)-7
T(n) = 8[2T(n-4)-1]-7 = 16T(n-4)-8–7 =16T(n-4)-15

T(n) = 16T(n-4)-15 can be written as,

T(n) =2^k T(n-k)-(2^k - 1)

Since value of T(n-1) is reducing one by one then lets assume
n-k = 1 <=> n = k

T(n) = 2^n T(1)-(2^n -1)
Then Time Complexity will be :

= O(2^n * c - 2^n + 1)

= O(2^n(c-1)+1)

= O(2^n)"""

'T(n-1) = 2T((n-1)-1)-1\nT(n-1) = 2T(n-2)-1 ….. (2)\nSimilarly..\nT(n-2) = 2T(n-3)-1 ….. (3)\nT(n-3 = 2T(n-4)-1 ….. (4) , and so on\n\nNow Substitute:- equation (2), (3), (4) in equation (1)\nT(n) = 2T(n-1)-1\nT(n) = 2[2T(n-2)-1]-1 = 4T(n-2)-2–1 = 4T(n-2)-3\nT(n) = 4[2T(n-3)-1]-3 = 8T(n-3)-4–3 = 8T(n-3)-7\nT(n) = 8[2T(n-4)-1]-7 = 16T(n-4)-8–7 =16T(n-4)-15\n\nT(n) = 16T(n-4)-15 can be written as,\n\nT(n) =2^k T(n-k)-(2^k - 1)\n\nSince value of T(n-1) is reducing one by one then lets assume\nn-k = 1 <=> n = k\n\nT(n) = 2^n T(1)-(2^n -1)\nThen Time Complexity will be :\n\n= O(2^n * c - 2^n + 1)\n\n= O(2^n(c-1)+1)\n\n= O(2^n)'